@{
    ViewData["Title"] = "Главная";
}
<h1 class="text-center">Лабароторная работа №3</h1>
<ol>
    <li>Создать интерфейс «Система счисления».</li>
    <li>Добавить интерфейсы основных методов работы с двумя числами(сложение, вычитание, произведение, деление, вычисление остатка отделения на число, и т.д.).<br><i>Чем больше будет определено функций, тем выше может быть оценка. На «25» организовать операции: «+», «–», «x», «/».</i></li>
    <li>Добавить интерфейс метода вычисления первой задачи лабораторной работы №1, согласно персональному варианту (работа с одномерным массивом).</li>
    <li>Создать класс «Калькулятор» по работе с десятичными числами, который будет содержать реализацию интерфейса, описанного в пунктах 2-3.</li>
    <li>Реализовать ASP.Net Core MVC приложение, в котором будет четыре графических интерфейса по работе с программой:
        <ul>
            <li>Главная страница, содержащая меню работы с программой.</li>
            <li>Страница «калькулятора», в котором будет реализована работа с десятичной системой счисления (на базе организованного класса).<br><i>Желательно, чтобы у окна калькулятора графический интерфейс был похож на «реальный» калькулятор. Также можно реализовать вычисления, как это делает Wolfram Alpha (в строку).</i></li>
            <li>Страница решения задачи пункта 3 (ввод массива, вывод массива, ввод ограничений, вывод результата, необходимые кнопки и т.д.)</li>
        </ul>
    <li>Создать класс «Калькулятор» по работе с числами системы счисления с основанием степени 2 (двоичная/восьмеричная/шестнадцатеричная), в котором будут определены методы интерфейса, описанного в пунктах 2-3.<br><i>Узнать, какую систему счисления использовать, у преподавателя.</i></li>
    <li>Внести добавления в режимы работы ASP.NET Core MVC приложения, согласно созданному классу.</li>
</ol>
